body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: min(640px, 90vw);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

.cell {
    box-sizing: border-box;
    width: calc(100% / var(--grid-size));
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}